{% extends 'menu.html' %}

{% block pagename %}
    <h1>Автомобильные запчасти</h1>
{% endblock %}

{% block content %}
    <ul>
    {%for part in parts %}
        <li>{{ part }} <button>Купить</button></li>
    {% endfor %}
    </ul>
{% endblock %}



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Автомобильные запчасти</h1>-->
<!--    <ul>-->
<!--    {%for part in parts %}-->
<!--        <li>{{ part }} <button>Купить</button></li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--    <button><a href="/main/basket"><h3>Перейти в корзину </h3></a></button> <button><a href="/main"><h3>Вернуться обратно</h3></a></button>-->
<!--</body>-->
<!--</html>-->